<div class="container-fluid">
	<h1>New Account</h1>

	<%= render 'form', server_account: @server_account %>

	<%= link_to 'Back', server_accounts_path, :class=>"btn btn-default btn btn-secondary" %>
</div>